/*
 *
 *  University di Pisa - Master's Degree in Computer Science and Networking
 *
 *  Final Project for the course of Peer to Peer Systems and Blockchains
 *
 *  Teacher: Prof. Laura Ricci
 *
 *  Candidate: Orlando Leombruni, matricola 475727
 *
 *  File: login.css
 *
 *  Style applied to the login page.
 *
 */

.pagewide {
    width: 100%;
    height: 100%;
}

@media (min-width: 601px) {
    #paper {
        max-width: 450px;
    }
}